*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 3vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar_title{
 width: 50px;

}
.navbar_linkbox {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: large;
}
span{
    color: red;
}
.linK{
    color: rgb(16, 18, 24);
}
.link_home{
    color: red;
}
a{
    text-decoration: none;
}
.navbar_button{
    border: none;
    border-radius: 3px;
    color:  red;
    padding: 6px;
    background-color: rgb(236, 227, 227);
   
    width: 7vw;

}
.first_section{
    margin-top: 15vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.left_side{
display: flex;
justify-content: space-between;
gap: 6vh;
flex-direction: column;
}
.right_side{
width: 350px;
}
.bt1{
    border: none;
    border-radius: 15px;
    color: white;
    padding: 8px;
    background-color: red;
    width: 9vw;
    box-shadow: 1px 1px ;
}
.bt2{
    border: none;
    border-radius: 15px;
    color: black;
    padding: 8px;
    background-color: white;
    width: 9vw; 
    box-shadow: 1px 1px ;
}
p{ 
    font-family: sans-serif;
    color: rgb(144, 142, 142);
}
h1{
    color: rgb(26, 30, 41) ;
}
.button_p{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 6vw;

}
@media (max-width:426px){

    nav{
       
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        
        gap: 3vh;
    }
    
    .navbar_button{
        width: 40vw;
    }
 
    .first_section{
        flex-direction: column;
        
    }
    .right_side{
       display: none;
    }
    .left_side{
        display: flex;
         align-items: center;
    }
    .bt1{
        width: 40vw;
    }
    .bt2{
        width: 40vw;
    }
}
/*second-section*/
*{
    margin: 0;
    padding: 0;
}
.cards{
    background: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 9vh 8vh;
}
.card1,
.card2,
.card3{
    display: flex;
    flex-direction: column;
    width: 15vw;
    gap: 5vh;
    
}

.card2,
.card3{
    padding: 3rem ;
    box-shadow: 6px 6px 7px grey;
}
.card1 h1{
    width: 17vw;
    font-size: xx-large;
    
}
.card1 button{
    background-color: rgb(255, 0, 0);
    padding: 10px 40px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}
.card1 button:hover{
    background-color: rgb(60, 60, 194);
    padding: 15px 50px;
}
@media (max-width:428px){
    .cards{
        flex-direction: column;
    }
.card1,
.card2,
.card3{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5vh;
    padding-bottom: 10vh;
}
.card1 h1{
    width: 50vw;
    font-size: xx-large;
}
 
}
